/.idea/
/.vscode/
/.env/
__pycache__/
.pytest_cache/
/config/
*.zip
/.coverage
/coverage.xml
*~
\#*\#
.\#*
*.orig
*.rej
.history
.DS_Store
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
